*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {border: none;}

/* image styles */
    .bg-image {
        background-image: url('images/date-couple.jpg');
        background-size: cover;
        min-height: 10rem;
}

/* universal styles & utility classes */
    body { 
        font-family: 'Catamaran', sans-serif;
        color: inherit;
}


.padded         { padding: 5%;}
.padded-small   { padding: 1 rem;}
.padded-large   { padding: 10%;}

.bg-dark { 
    background-color: #590d22;
    color: #fff0f3;
}

.tall-50    { min-height: 50vh; }
.tall-60    { min-height: 60vh; }
.tall-70    { min-height: 70vh; }
.tall-80    { min-height: 80vh; }
.tall-90    { min-height: 90vh; }
.tall-100   { min-height: 100vh; }


/* Typograhpy styles */

    h2  { 
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 1rem;
}

    h3  {line-height: 1;}

    p   { 
        font-weight: 200;
        line-height: 1.5;
        margin-bottom: 1rem;
}

P:last-child { margin-bottom: 0;}

    a   {
        color: inherit;
        text-decoration: none;
}  

    a:hover {
        color: #c9184a;
}


.featured-text  { color: #c9184a;}
.white-text     { color: rgb(255, 255, 255);}

.small-text     { font-size: 1.5rem;}
.medium-text    { 
    font-size: 2rem;
    line-height: 1.1;
}
.big-text       { 
    font-size: 4.5rem;
    color: #800f2f;
}

.subtitle {
    font-size: 1.2rem;
    color: #800f2f;
}
.quote {
    font-size: 6rem;
    display: inline-block;
    color: #800f2f;
    

}


.font-weight-light  {font-weight: 200;}
.font-weight-normal {font-weight: normal;}
.font-weight-bold   {font-weight: 800;}


.text-left  { text-align: left;}
.text-center{ text-align: center;}
.text-right { text-align: right;}



/* header styles & footer */

    header {
        background-image: url('/images/date-couple.jpg');
        background-size: cover;
        background-position: center;
        color: white;
}

    header h3 {
        font-size: 5.5rem;
        line-height: 1;
}

    footer a {
        border: none;
}

/* navigation*/
    nav {
        background-color: #800f2f;
        color: white;
        padding: 2.5%;  
        text-align: center;
        letter-spacing: 0.3em;     
    }

/* background images */

    .bg-date-girl {
        background-image: url('/images/date-girl.jpg');
        background-position: center;
}

    .bg-date-boy {
        background-image: url('/images/date-boy.jpg');
        background-position: 50% 75%;
}

/* icon grid */
    .fa-regular {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        color: inherit;
}

/* plate */
    .bg-date-bike {
        background-image: url('/images/date-bike.jpg');
        background-position: 50% 57%;
}

/* sign up 
    .padded-centered-contact {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        color: inherit;
    }*/